Hello {{ user.username }},

Please confirm your registration by clicking the link below:

http://{{ domain }}{% url 'activate' uidb64=uid token=token %}

If you did not request this, please ignore this email.

Thank you!


{% comment %}{ % load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Confirm your registration</title>
</head>
<body>
    <p>Hello {{ user.username }},</p>

    <p>Please confirm your registration by clicking the link below:</p>

    <p><a href="{{ domain }}{% url 'activate' uidb64=uid token=token %}">Confirm Registration</a></p>

    <p>If you did not request this, please ignore this email.</p>

    <p>Thank you!</p>
</body>
</html> {% endcomment %}
